.process-container {
  display: flex;
  justify-content: center;
}

.custom-button {
  border-radius: 32px;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  height: 4rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  margin: auto;
}

.custom-button:hover {
  background-color: gray;
  color: black;
}
