.infopage-question {
  font-family: garamond-regular;
  font-size: 28px;
  margin-bottom: 32px;
}

.infopage-answer {
  font-family: montserrat-regular;
  font-size: 18px;
}

@media only screen and (max-width: 650px) {
  .image-container {
    height: 100px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
  }
}
