.footer-container {
  height: 400px;
  background-color: white;
  color: black;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 450px;
}
.border-bottom {
  border-bottom: 1px solid grey;
  width: 100%;
  opacity: 0.7;
}

.footer-top {
  flex-direction: row;
  height: 300px;
  max-width: 1300px;
  width: 100%;
}

.footer-top-container {
  display: flex;
  flex-direction: column;
}
.footer-bottom-container {
  width: 100%;
}
.footer-bottom {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.bottom-button {
  margin: 12px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.bottom-button:hover {
  opacity: 0.7;
}

.scroll-to-top-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.up-icon {
  display: flex;
  width: 32px;
  font-size: 32px;
  transition: transform 0.5s ease;
}

.scroll-to-top-button:hover .up-icon {
  transform: translateY(-5px);
}

.minnae-logo {
  width: 100%;
  font-size: 78px;
  text-align: center;
}

.footer-header {
  font-size: 32px;
}

.upper-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.icon-container {
  font-size: 42px;
}

.icon-container-mobile {
  padding: 24px;
  font-size: 48px;
  display: flex;
  flex-direction: column;
}

.footer-icon {
  text-decoration: none;
  color: inherit;
}
@media only screen and (max-width: 650px) {
  .footer-container {
    height: 500px;
  }
  .footer-bottom {
    margin-top: 12px;
    flex-direction: column;
  }

  .email-wrapper {
    height: 60px;
    display: flex;
    align-items: center;
  }
  .email-text {
    font-size: 22px;
  }

  .upper-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}
