.text-container {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gift-container {
  background-color: white;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gift-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  min-height: 50vh;
}
.gift-item {
  max-width: 550px;
}

.item-text {
  text-align: start;
  max-width: 400px;
}

.item-header {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.text-and {
  margin: 0px 24px 0px 24px;
}

.appointment-text {
  margin-top: 48px;
  display: flex;
}

.gift-app-button {
  font-weight: 600;
  padding: 0px 8px 0px 8px;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin: auto;
}

.gift-app-button:hover {
  background-color: rgb(240, 235, 235);
}

.gift-image {
  max-height: 300px;
  border-radius: 32px;
}

.gift-image-container {
  margin-bottom: 32px;
}

@media only screen and (max-width: 650px) {
  .gift-image {
    max-height: 150px;
  }

  .appointment-text {
    flex-direction: column;
    margin-bottom: 48px;
  }

  .recommend-header {
    text-align: center;
  }

  .gift-app-button {
    margin-top: 18px;
    font-size: 20px;
  }
}
