#infosection {
  background-color: #fff;
}
.infosection-container {
  background-color: #fff;
  width: 1400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 18px;
}

.section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.topsection {
  min-height: 350px;
}

.topsection p {
  margin-top: 0px;
}
.topleft-text {
  font-family: garamond-regular;
  display: flex;
  font-size: 48px;
  max-width: 850px;
}

.topleft {
  font-size: 32px;
  width: 100%;
}

.topright {
  max-width: 650px;
  font-size: 24px;
  text-align: left;
}

.bottomleft {
  position: relative;

  margin-bottom: 100px;
}

#picture-infosection {
  max-height: 450px;
  width: auto;
  border-radius: 32px;
}

.bottomright {
  max-width: 650px;
  text-align: left;
}
.strong-text-1 {
  font-size: 48px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .topleft-text {
    max-width: 100%;
    font-size: 22px;
  }
  .topleft {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .topright {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #picture-infosection {
    width: 290px;
  }
}
