.center {
  display: flex;
  justify-content: center;
}
.infosection-container {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  padding: 18px;
}


.section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.topleft-text {
  display: flex;
  height: 250px;
  max-width: 850px;
 
}

.topleft {
  font-size: 16px;
}

.topright {
  
  max-width: 450px;
  text-align: left;
}

.bottomleft {
 max-width: 400px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end
}

#picture-infosection {
  width: 100%;
  height: auto;
  display: block;

}

.bottomright {
  max-width: 450px;
  text-align: left;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .topleft-text {
    max-width: 100%; /* Make it full width on smaller screens */
  }
}
