@media only screen and (max-width: 650px) {
  /* mainpage */
  #mainPageLogo {
    height: 250px;
  }

  /*mainpage END*/

  /* infosection */
  .infosection-container {
    flex-direction: column;
  }

  .section {
    flex-direction: column;
  }

  .topleft-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*infosection END*/
}
