.navbar {
  background-color: white;
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1000;
  height: 6rem;
  transition: opacity 0.8s;
}

.navbar.hidden {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
}
.navbar.visible {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
}

.navbar a {
  font-size: 24px;
  cursor: pointer;
  transition: font-size 0.5s;
  text-decoration: none;
  margin: 0 10px;
  color: black;
}

.navbar a:hover {
  font-size: 26px;
}
#nav-logo {
  cursor: pointer;
  width: 9rem;
  height: auto;
}

.nav-menu-list {
  text-transform: uppercase;
}

.mobile-navbar-container {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-left {
  padding-left: 12px;
}

.mobile-nav-right {
  padding-right: 12px;
  display: flex;
  align-items: center;
}

/* hamburger */

.burger {
  margin-left: 40px;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  background-color: #120f0b;
  width: 20px;
  height: 3px;
  display: block;
  margin: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* adding active class to the bars  */
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.appointment {
  width: fit-content;
}

.appointment-mobile {
  font-size: 28px;
}

/* Sidebar menu */
.sidebar-menu {
  background-color: white;
  position: fixed;
  top: 100px;
  right: -300px; /* Start with the menu off-screen to the right */
  width: 300px;
  height: 100%;
  transition: right 0.3s ease; /* Add a smooth transition effect */
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Add styles for the open sidebar menu */
.sidebar-menu.open {
  right: 0;
  background-color: white;
}

.sidebar-menu ul {
  height: 100%;
  text-align: start;
  list-style: none;
  padding: 0;

  width: 100%;
}

.sidebar-menu ul li {
  text-decoration: none;
  margin-top: 12px;
  font-size: 28px;
  padding: 12px;
}
.sidebar-menu ul > li:active {
  background-color: var(--background-light);
}
.sidebar-menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
