.opinion-swiper {
  max-width: 1400px;
  height: 500px;
  margin-top: 24px;
  padding: 32px 0px 32px 0px;
}

.opinion-container {
  overflow: hidden;
  border-radius: 24px;
  display: flex;
  max-width: 600px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.opinion-text {
  font-size: 24px;
}

.opinion-header {
  font-family: garamond;
  margin-top: 38px;
  width: 100%;
  font-size: 48px;
}

@media only screen and (max-width: 650px) {
  .opinion-container {
    max-width: 100%;
  }
  .opinion-swiper {
    max-width: 300px;
    height: 500px;
    margin-top: 24px;
    padding: 32px 10px 32px 10px;
  }
}
