.recommendation-container {
  padding-top: 32px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  align-items: center;
  max-width: 1400px;
  height: 90vh;
}

.header-wrapper {
  text-align: start;
}

.recommend-header {
  font-variant: small-caps;
  padding: 8px 8px 8px 0px;
  text-align: start;
  font-family: garamond-regular;
  text-align: start;
  font-size: 48px;
  text-align: start;
  margin-bottom: 28px;
}

.recommend-list {
  text-align: start;
}

.recommend-list-elem {
  display: flex;
  align-items: center;
  min-height: 70px;
  font-size: 32px;
  transition: 0.5s;
}

li::marker {
  font-size: 1.5em;
}
.recommend-list-elem:hover {
  padding-left: 12px;
  border-radius: 18px;
  background-color: rgb(236, 236, 236);
}

@media only screen and (max-width: 650px) {
  .recommendation-container {
    padding: 8px;
  }

  .wrapper {
    height: auto;
    flex-direction: column;
  }
  .recommend-list-elem {
    height: auto;
    font-size: 22px;
    margin-top: 24px;
  }
  .recommend-header {
    font-size: 32px;
  }
}
