.recommendation-container {
  padding-top: 32px;
  background-color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  height: 90vh;
}

.recommend-header {
  text-align: start;
  font-size: 48px;
  text-align: start;
  margin-bottom: 28px;
}

.recommend-list {
  text-align: start;
}

.recommend-list-elem {
  display: flex; /* Use flexbox to horizontally center text */
  align-items: center; /* Vertically align text to the center */
  height: 70px;
  font-size: 32px;
  transition: 0.5s;
}

.recommend-list-elem:hover {
  padding-left: 12px;
  border-radius: 18px;
  background-color: rgb(236, 236, 236);
}

@media only screen and (max-width: 650px) {
  .recommendation-container {
    padding: 8px;
  }

  .wrapper {
    height: auto;
  }
  .recommend-list-elem {
    height: auto;
    margin-top: 24px;
  }

  .recommend-header {
    font-size: 34px;
  }
}
