.App {
  text-align: center;
  cursor: default;
  background-color: #eeeae2;
}

.center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.parallax {
  height: 100vh;
}

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#mainPageLogo {
  height: 450px;
}

.fade-in-image {
  /* Set initial opacity to 0 (completely transparent) */
  opacity: 0;

  /* Define the animation */
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  /* Start with opacity 0 (completely transparent) */
  0% {
    opacity: 0;
  }

  /* End with opacity 1 (fully visible) */
  100% {
    opacity: 1;
  }
}
