.App {
  font-family: montserrat-regular;
  min-height: 120vh;
  text-align: center;
  cursor: default;
  background-color: #eeeae2;
}
.center {
  display: flex;
  justify-content: center;
}

.header {
  font-variant: small-caps;
  line-height: 3rem;
  font-family: garamond;
  font-size: 48px;
  display: flex;
  text-align: start;
  max-width: 1400px;
  width: 100%;
}
.center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.parallax {
  height: 100vh;
}

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#mainPageLogo {
  height: 450px;
}
.mainpage-center-text {
  margin-bottom: 7rem;
  display: flex;
  align-items: flex-end;
}

.fade-in-image {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
}
.custom-button {
  color: black;
  text-decoration: none;
  border-radius: 32px;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  height: 4rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  margin: auto;
}

.custom-button:hover {
  background-color: gray;
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .image-container {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 650px) {
  .mainpage-center-text {
    display: flex;
    align-items: flex-end;
  }
  .header {
    font-size: 42px;
  }
}
