.App {
  font-family: montserrat-regular;
  min-height: 120vh;
  text-align: center;
  cursor: default;
  background-color: #eeeae2;
}
.center {
  display: flex;
  justify-content: center;
}

.header {
  line-height: 3rem;
  font-family: garamond;
  font-size: 48px;
  display: flex;
  text-align: start;
  max-width: 1400px;
  width: 100%;
}
.center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.parallax {
  height: 100vh;
}

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#mainPageLogo {
  height: 450px;
}
.mainpage-center-text {
  margin-bottom: 3rem;
}

.fade-in-image {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 650px) {
  .mainpage-center-text {
    display: flex;
    align-items: flex-end;
  }
  .header {
    font-size: 42px;
  }
}
